/* This sets the size of the adjustable part of the slider */
.slider .thumb,
.range-slider .low-thumb,
.range-slider .high-thumb {
	-fx-background-radius: 0.2em;
	-fx-padding: 1.2em;
}

/* Padding on left to avoid overlap with image */
.colourbar-slider {
    -fx-padding: 8 0 8 0;
}

/* Sets the slider tick marks to black */
.range-slider .axis .axis-tick-mark, .colourbar-slider .axis .axis-minor-tick-mark {
	-fx-stroke: black;
}

/* Sets the slider text to black */
.range-slider .axis {
	-fx-tick-label-fill: black;
}

/* Determines the width of the colourbar */
.colourbar-slider .track {
	-fx-padding: 0.8em;
}

/* Determines the width of the threshold mask slider */
.mask-slider .track {
	-fx-padding: 0.6em;
}

/* Padding to ensure that labels on both ends of the scale don't go off screen */
.mask-slider {
	-fx-padding: 2 16 0 16;
}

.colourbar-slider .range-bar {
	-fx-padding: 1em;
	-fx-opacity: 0;
}